<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">LanzamientoNET6Conosur.Demo</a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Home
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="counter">
                <span class="oi oi-plus" aria-hidden="true"></span> Error Boundaries
            </NavLink>
        </div>
         <div class="nav-item px-3">
            <NavLink class="nav-link" href="headcontent">
                <span class="oi oi-plus" aria-hidden="true"></span> Head Content
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="parameterrequired">
                <span class="oi oi-plus" aria-hidden="true"></span> Parameter Requiered
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="queryparams?mensaje=Esto es un mensaje&nombres=NetBaires&nombres=Conosur&nombres=Latino .NET Online">
                <span class="oi oi-plus" aria-hidden="true"></span> Query Params
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="focus1">
                <span class="oi oi-plus" aria-hidden="true"></span> Focus 1
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="focus2">
                <span class="oi oi-plus" aria-hidden="true"></span> Focus 2
            </NavLink>
        </div>
         <div class="nav-item px-3">
            <NavLink class="nav-link" href="dynamiccomponent">
                <span class="oi oi-plus" aria-hidden="true"></span> Dynamic Component
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="fetchdata">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Fetch data
            </NavLink>
        </div>
    </nav>
</div>

@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
